* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
}

html, body {
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    overflow: hidden;
}

.alarm-box {
    width: 300px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1rem 0;
    padding: .5rem 0;
    position: relative;
}

.box.green {
    background-color: rgba(100, 255, 100, 0.5);
    font-weight: 900;
}

.box.red {
    background-color: rgba(255, 100, 100, 0.5);
    font-weight: 900;
}

.alarm-box div {
    padding: .5rem 1rem;
}

.alarm-box .title {
    font-weight: 800;
}

#alarm-container {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
    bottom: 0;
    overflow-y: auto;
}

#alarm-container::-webkit-scrollbar {
    width: 20px;
}
  
#alarm-container::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.element {
    flex: 1;
    padding: 2rem;
    height: 20vh;
}

.box {
    height: 20vh;
    width: 100%;
    border: 1px solid gray;
    border-radius: 2vw;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}

.title-container {
    background-color: rgba(150, 150, 150, 1);
    position: absolute;
    top: -1rem;
    height: 3rem;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-text {
    font-weight: bold;
    font-size: 1.5rem;
}

.contents-container {
    position: absolute;
    top: 3rem;
    left: 2rem;
    width: 100%;
    justify-content: flex-start;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.type-btn {
    border-radius: .5rem;
    background-color: gray;
    padding: 1rem;
    cursor: pointer;
}

.selected {
    background-color: green;
}

.hex3 {
    background: rgba(255, 0, 0, 0.5);;
    -webkit-clip-path: polygon(15% 5%, 85% 5%, 95% 50%, 85% 95%, 15% 95%, 5% 50%);
    clip-path: polygon(15% 5%, 85% 5%, 95% 50%, 85% 95%, 15% 95%, 5% 50%);
}

.hex4 {
    background: rgba(255, 0, 0, 0.5);;
    -webkit-clip-path: polygon(15% 5%, 85% 5%, 95% 50%, 85% 95%, 15% 95%, 5% 50%);
    clip-path: polygon(15% 10%, 85% 10%, 95% 50%, 85% 90%, 15% 90%, 5% 50%);
}

.simple-gray-box {
    height: 10vh;
    width: 100%;
    border: 1px solid gray;
    border-radius: 2vw;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.small {
    height: 5vh;
}

#algorithm-modal * {
    font-size: 1rem;
}

#algorithm-modal .contents-container {
    top: 2.5rem;
}

#cpr-timer-type1 {
    display: inline-block;
}

/* .a1 {
    background-color: red;
}

.a2 {
    background-color: orange;
}

.a5 {
    background-color: yellow;
}

.a7 {
    background-color: green;
}

.a9 {
    background-color: blue;
}

.a11 {
    background-color: navy;
}

.a12 {
    background-color: purple;
} */

.a1.selected, .a2.selected, .a5.selected, .a7.selected, .a9.selected, .a11.selected, .a12.selected{
    background-color: green;
}